/*.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
  }

  body {
    padding-top: 60px;
  }*/
li.active > a{
  background-color: #f5f5f5 !important;
}
.tab-pane > .well {
  margin-top:-3px;
  border-top: 0;
  box-shadow: none;
}
.colorPreview {
  border: 1px solid #CCC;
  margin: 2px;
  zoom: 1;
  vertical-align: top;
  /*display: inline-block !important;*/
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
  -ms-transform: rotate(90deg);
}

.Arial {
  font-family: "Arial";
}

.Helvetica {
  font-family: "Helvetica";
}

.MyriadPro {
  font-family: "Myriad Pro";
}

.Delicious {
  font-family: "Delicious";
}

.Verdana {
  font-family: "Verdana";
}

.Georgia {
  font-family: "Georgia";
}

.Courier {
  font-family: "Courier";
}

.ComicSansMS {
  font-family: "Comic Sans MS";
}

.Impact {
  font-family: "Impact";
}

.Monaco {
  font-family: "Monaco";
}

.Optima {
  font-family: "Optima";
}

.HoeflerText {
  font-family: "Hoefler Text";
}

.Plaster {
  font-family: "Plaster";
}

.Engagement {
  font-family: "Engagement";
}
.editButtonGroup > button, .editButtonGroup > div {
  display: block;
  float: left;
  margin: 0 2px;
}
#Calculation > tbody > tr > td {
  padding: 10px 0 !important;
}
#Calculation > tbody > tr {
  padding: 10px 0 !important;
}
#DrawingArea {
  border: 1px dashed #d6d6d6;
}
.minicolors-swatch-color {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
